*.o
*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb

*.exe
*.so
*.unitypackage

release/
debug/
dependencies/
.build/
*.dblite
excons.cache

StreamingImageSequence~/*.csproj
StreamingImageSequence~/*.csproj.meta
StreamingImageSequence~/*.sln
StreamingImageSequence~/.idea/**
StreamingImageSequence~.meta
StreamingImageSequence~/Assets.meta
*/Logs/**
*/UIElementsSchema/**
.vs/
Library/
Temp/
_tmp/
_out/
ipch/

Adobe\ After\ Effects\ Auto-Save/
.DS_Store


# Plugin
Plugin~/_out/

# XCode
*.xcuserdatad/
Plugins~/**/DerivedData/**
Plugins~/**/XCBuildData/**

# CMake
Plugins~/Build/CMakeFiles/*
Plugins~/Build/CMakeScripts/*
Plugins~/Build/CMakeCache.txt
Plugins~/Build/**/cmake_install.cmake
Plugins~/Build/Makefile
Plugins~/Build/*.xcodeproj/**
Plugins~/Build/ispc**
Plugins~/Build/*.vcxproj**
Plugins~/Build/*.sln
Plugins~/Build/CTestTestfile.cmake
Plugins~/Build/*.tcl
Plugins~/Build/Testing/**
Plugins~/Build/x64/**
Plugins~/Build/Src/**
Plugins~/Build/Tests/**



