*.o
*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb

*.exe
*.so
*.dylib
*.unitypackage

release/
debug/
dependencies/
.build/
*.dblite
excons.cache

StreamingImageSequence~/*.csproj
StreamingImageSequence~/*.csproj.meta
StreamingImageSequence~/*.sln
StreamingImageSequence~/.idea/**
StreamingImageSequence~.meta
StreamingImageSequence~/Assets.meta
*/UIElementsSchema/**
.vs/
Library/
Temp/
_tmp/
_out/
ipch/

Adobe\ After\ Effects\ Auto-Save/
.DS_Store


# Plugin
Plugin~/_out/

# XCode
*.xcuserdatad/
Plugins~/**/DerivedData/**
Plugins~/**/XCBuildData/**
