*.o
*.obj
*.pch
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb

*.exe
*.unitypackage

*/Builds/**
*/obj/**

StreamingImageSequence*~/*.csproj
StreamingImageSequence*~/*.csproj.meta
StreamingImageSequence*~/*.sln
StreamingImageSequence*~/.idea/**
StreamingImageSequence*~.meta
StreamingImageSequence*~/Assets.meta
StreamingImageSequence*~/UserSettings/**
*/Logs/**
*/UIElementsSchema/**
.vs/
Library/
Temp/
_tmp/
_out/
ipch/

Adobe\ After\ Effects\ Auto-Save/
.DS_Store


# XCode
*.xcuserdatad/
Plugins~/**/DerivedData/**
Plugins~/**/XCBuildData/**

# CMake
Plugins~/Build/CMakeFiles/*
Plugins~/Build/CMakeScripts/*
Plugins~/Build/CMakeCache.txt
Plugins~/Build/**/cmake_install.cmake
Plugins~/Build/Makefile
Plugins~/Build/*.xcodeproj/**
Plugins~/Build/ispc**
Plugins~/Build/*.vcxproj**
Plugins~/Build/*.sln
Plugins~/Build/CTestTestfile.cmake
Plugins~/Build/*.tcl
Plugins~/Build/Testing/**
Plugins~/Build/x64/**
Plugins~/Build/Src/**
Plugins~/Build/Tests/**
Plugins~/Build/*.build/*

# Custom embedded packages
StreamingImageSequence*~/Packages/com.unity.*/**
!StreamingImageSequence*~/Packages/com.unity.streaming-image-sequence/**

# Test RenderCache Images
StreamingImageSequence*~/Assets/StreamingAssets/RenderCachePlayableAsset*
StreamingImageSequence*~/Assets/StreamingAssets/RenderCacheScene*


